.login-form {
  width: 350px;
  margin: 50px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Arial;
}

.login-form input {
  margin-left: 10px;
  padding: 5px;
}

.login-form button {
  padding: 8px 20px;
  cursor: pointer;
}

.login-form p {
  font-weight: bold;
}